<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.thanthoai.securesms" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SecureSmsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.thanthoai.securesms.app.SmsConversationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.SmsMessageActivity"
            android:label="@string/app_name"
            android:parentActivityName="org.thanthoai.securesms.app.SmsConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thanthoai.securesms.app.SmsConversationActivity" />
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.ContactActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:parentActivityName="org.thanthoai.securesms.app.SmsConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thanthoai.securesms.app.SmsConversationActivity" />
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.SplashScreenActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.AesPassphraseActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="org.thanthoai.securesms.setting.SettingActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thanthoai.securesms.app.SmsConversationActivity" />
        </activity>
        <activity
            android:name="org.thanthoai.securesms.setting.SettingWithFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName="org.thanthoai.securesms.app.SmsConversationActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thanthoai.securesms.app.SmsConversationActivity" />
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.AuthenticationActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="org.thanthoai.securesms.app.AppPassphraseActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="org.thanthoai.securesms.services.UpdatePassphraseService"
            android:exported="false" >
        </service>
        <service
            android:name="org.thanthoai.securesms.services.DeleteMessageService"
            android:exported="false" >
        </service>
    </application>

</manifest>
